In [76]:
import pandas as pd
import sqlite3 as sql
import sqlalchemy

In [77]:
connection = sql.connect("diamonds_m2.db")

In [78]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6           diamonds_city

In [79]:
query1= 'SELECT * FROM diamonds_dimensions'
df_dimensions = pd.read_sql_query(query1, connection)
df_dimensions

,index_id,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [80]:
query2= 'SELECT * FROM diamonds_transactional'
df_transactional = pd.read_sql_query(query2, connection)
df_transactional

,index_id,price,city_id,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.34
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,2.02
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,89c7286890f7347ab235234e74d406596a127ae3679042...,1.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,89c7286890f7347ab235234e74d406596a127ae3679042...,0.33
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,1.24

In [81]:
query3= 'SELECT * FROM diamonds_properties'
df_properties = pd.read_sql_query(query3, connection)
df_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [82]:
query4= 'SELECT * FROM diamonds_cut'
df_cut = pd.read_sql_query(query4, connection)
df_cut

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [83]:
query5= 'SELECT * FROM diamonds_color'
df_color = pd.read_sql_query(query5, connection)
lista = []
for i in df_color["color"]:
    if i == "D":
        lista.append("Blanco excepcional +")
    if i == "E":
        lista.append("Blanco excepcional")
    if i == "F":
        lista.append("Blanco raro +")
    if i == "G":
        lista.append("Blanco raro")
    if i == "H":
        lista.append("Blanco")
    if i == "I":
        lista.append("Blanco ligeramente coloreado")
    if i == "J":
        lista.append("Blanco ligeramente coloreado")
df_color["Color_Explicación"]=lista
df_color

,color_id,color,Color_Explicación
0,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,G,Blanco raro
1,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,D,Blanco excepcional +
2,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,H,Blanco
3,6da43b944e494e885e69af021f93c6d9331c78aa228084...,J,Blanco ligeramente coloreado
4,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,I,Blanco ligeramente coloreado
5,a9f51566bd6705f7ea6ad54bb9deb449f795582d6529a0...,E,Blanco excepcional
6,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,F,Blanco raro +

In [84]:
query6= 'SELECT * FROM diamonds_clarity'
df_clarity = pd.read_sql_query(query6, connection)
lista1 = []
for i in df_clarity["clarity"]:
    if i == "SI2":
        lista1.append("pequeña inclusión 2")
    if i == "VVS2":
        lista1.append("Muy muy pequeñas inclusiones 2")
    if i == "VVS1":
        lista1.append("Muy muy pequeñas inclusiones 1")
    if i == "SI1":
        lista1.append("pequeña inclusión 1")
    if i == "I1":
        lista1.append("imperfecto")
    if i == "VS1":
        lista1.append("Muy pequeña inclusión 1")
    if i == "VS2":
        lista1.append("Muy pequeña inclusión 1")
    if i == "IF":
        lista1.append("Sin inclusiones internas")
        
df_clarity["clarity_Explicación"]=lista1

df_clarity

,clarity_id,clarity,clarity_Explicación
0,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...,SI2,pequeña inclusión 2
1,3f9db06236e9719b61c826b612b882fa702ec81574e44c...,VVS2,Muy muy pequeñas inclusiones 2
2,66686ae1f0c9c400ba32dc600a34ff0aa173395bcbc2d8...,VVS1,Muy muy pequeñas inclusiones 1
3,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,IF,Sin inclusiones internas
4,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,pequeña inclusión 1
5,c2818bc4e5ec4ae4a357a0df6fed73652e169ec676f7d4...,I1,imperfecto
6,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,VS1,Muy pequeña inclusión 1
7,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,VS2,Muy pequeña inclusión 1

In [85]:
query7= 'SELECT * FROM diamonds_city'
df_city = pd.read_sql_query(query7, connection)
lista3 = []
for i in df_city["city"]:
    if i == "Amsterdam":
        lista3.append("Netherlands")
    if i == "Zurich":
        lista3.append("Suiza")
    if i == "Las Vegas":
        lista3.append("Estados Unidos")
    if i == "New York City":
        lista3.append("Estados unidos")
    if i == "Paris":
        lista3.append("Francia")
    if i == "Tel Aviv":
        lista3.append("Palestina")
    if i == "Dubai":
        lista3.append("Emiratos Árabes Unidos")
    if i == "Kimberly":
        lista3.append("Sudáfrica")
    if i == "Surat":
        lista3.append("India")
    if i == "Antwerp":
        lista3.append("Belgica")
    if i == "Madrid":
        lista3.append("España")
    if i == "London":
        lista3.append("Reino unido")
    if i == "Luxembourg":
        lista3.append("Luxemburgo")
df_city["País"]=lista3
df_city

,city_id,city,País
0,0013c01fe0d094209b8bd3d23b8f96dbabcd01ddd2a039...,Amsterdam,Netherlands
1,1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...,Zurich,Suiza
2,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,Las Vegas,Estados Unidos
3,5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...,New York City,Estados unidos
4,5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...,Paris,Francia
5,68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...,Tel Aviv,Palestina
6,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,Dubai,Emiratos Árabes Unidos
7,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,Sudáfrica
8,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,Surat,India
9,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,Antwerp,Belgica
10,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,Madrid,España
11,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,London,Reino unido
12,ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...,Luxembourg,Luxemburgo

In [86]:
join1 = df_dimensions.merge(df_transactional , on = "index_id")
join2 = join1.merge(df_properties , on = "index_id")
join3 = join2.merge(df_cut , on = "cut_id")
join4 = join3.merge(df_color, on = "color_id")
join5 = join4.merge(df_clarity, on = "clarity_id")
join6 = join5.merge(df_city, on = "city_id")

In [87]:
join6

,index_id,depth,table,x,y,z,price,city_id,carat,cut_id,color_id,clarity_id,cut,color,Color_Explicación,clarity,clarity_Explicación,city,País
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.77,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.51,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.57,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.54,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.53,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.30,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.26,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.31,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India

In [88]:
df_final = join6.loc[:, ["index_id", 'depth', 'table', 'x', 'y', 'z', 'price', 'cut', 'color', "Color_Explicación", 'clarity',"clarity_Explicación", 'city',"País","carat"]]
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40455 entries, 0 to 40454
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index_id             40455 non-null  object
 1   depth                40455 non-null  float64
 2   table                40455 non-null  float64
 3   x                    40455 non-null  float64
 4   y                    40455 non-null  float64
 5   z                    40455 non-null  float64
 6   price                40455 non-null  int64
 7   cut                  40455 non-null  object
 8   color                40455 non-null  object
 9   Color_Explicación    40455 non-null  object
 10  clarity              40455 non-null  object
 11  clarity_Explicación  40455 non-null  object
 12  city                 40455 non-null  object
 13  País                 40455 non-null  object
 14  carat                40455 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 4.9+ MB

In [89]:
df_final

,index_id,depth,table,x,y,z,price,cut,color,Color_Explicación,clarity,clarity_Explicación,city,País,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos,1.21
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos,1.02
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos,0.77
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos,1.51
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,Premium,J,Blanco ligeramente coloreado,VS2,Muy pequeña inclusión 1,Dubai,Emiratos Árabes Unidos,0.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India,0.54
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India,0.53
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India,0.30
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India,0.26
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,Ideal,F,Blanco raro +,IF,Sin inclusiones internas,Surat,India,0.31

In [90]:
df_final.to_csv("diamonds.csv")

In [61]:
by_year = df_final.sort_values('price')
by_year.head(6)

,index_id,depth,table,x,y,z,price,cut,color,clarity,city,carat
16226,a21cefec25404279928e2ffe9d49630f691600cd9d9a1e...,59.8,61.0,3.89,3.84,2.31,326,Premium,E,SI1,Tel Aviv,0.21
24723,257e3cd0744845b83c0d1f8a114d5c04218844a0c8debe...,61.5,55.0,3.95,3.98,2.43,326,Ideal,E,SI2,Paris,0.23
26818,b3884138875a4fff84c082069e1f4adc178c3642c8b872...,56.9,65.0,4.05,4.07,2.31,327,Good,E,VS1,Zurich,0.23
18152,c2bd9d46d24d10ec4ec7d49f295c5555462df32247bb2b...,62.4,58.0,4.20,4.23,2.63,334,Premium,I,VS2,Kimberly,0.29
17168,5115faeecc0db1adcfda7bb7a3ffd0bbc008309e0e1dba...,63.3,58.0,4.34,4.35,2.75,335,Good,J,SI2,Tel Aviv,0.31
18007,043f8e4daaeac098212752409427a8a00054b38b5b483f...,65.1,61.0,3.87,3.78,2.49,337,Fair,E,VS2,Kimberly,0.22

In [49]:
df_final[(df_final["carat"]==0.2)]

,index_id,depth,table,x,y,z,price,cut,color,clarity,city,carat
2611,95d3a6437b56fbcc23f34db6b519c4956c53e2955c76a9...,59.8,62.0,3.79,3.77,2.26,367,Premium,E,VS2,Luxembourg,0.2
11407,6d78b19a042a64f08cc4df0d42fb91cd757829718e60e8...,60.2,62.0,3.79,3.75,2.27,345,Premium,E,SI2,Antwerp,0.2
18071,b3f3b8b46322948a265ea4552f877febd67b0b2a614685...,59.7,55.0,3.86,3.84,2.30,367,Ideal,E,VS2,Kimberly,0.2
18571,927fcdcd5c55b3c3cd828fa8e5d5ce7af4e9096d4b9a0b...,61.5,57.0,3.81,3.77,2.33,367,Ideal,D,VS2,Kimberly,0.2
35447,e1299b1fe6306876f5135f76e0403dd88c18ef5d0e1352...,59.7,62.0,3.84,3.80,2.28,367,Premium,E,VS2,Surat,0.2
36036,d937ffa207c3d50aeaeb3cd05f1c5e4fef70246a1b3d21...,61.7,60.0,3.77,3.72,2.31,367,Premium,D,VS2,Surat,0.2